{"filter":false,"title":"config.xml","tooltip":"/shoppingCart/config.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":303.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"comment","mode":"ace/mode/xml"}},"timestamp":1510058411027,"hash":"c09a113199b37c657559e865ce057770481bb60f"}